"*":
  "atom-beautify":
    general:
      _analyticsUserId: "d4d3fb0b-5a91-44cf-85fb-bc2327452857"
    js: {}
  core:
    disabledPackages: [
      "minimap"
      "minimap-split-diff"
      "atom-typescript"
      "linter-eslint"
      "linter-tslint"
      "linter-csslint"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".vscode"
      "node_modules"
    ]
    projectHome: "/Users/Goatie/Developer"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "2b5f9c0b-1887-b3fa-3b9b-f2233dca190d"
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    errorPanelHeight: 88
    showErrorPanel: false
    showErrorTabLine: true
    showProviderName: false
  "linter-eslint":
    useGlobalEslint: true
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  minimap:
    plugins:
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "seti-ui":
    fileIcons: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".git-commit.text":
  editor:
    tabLength: 4
".git-config.source":
  editor:
    tabLength: 4
".git-rebase.text":
  editor:
    tabLength: 4
".riot.source":
  editor:
    tabLength: 4
".source.ts":
  editor:
    showInvisibles: true
    tabLength: 4
".source.tsx":
  editor:
    tabLength: 4
